* {
    margin: 0;
    font-family: monospace;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: inherit;
}

table {
    border-spacing: 5px;
}

th {
    height: 30px;
    padding: 10px;

    background-color: rgba(120, 154, 130);
    color: antiquewhite;
    text-align: left;
    border-radius: 10px;
}

td {
    padding: 10px;

    background-color: rgba(150, 150, 150, .5);
    color: antiquewhite;
    border-radius: 10px;
}

.finestra {
    width: fit-content;
    min-height: 200px;
    margin: 10px;

    background-color: #13101b;
    color: white;
    padding: 10px;
    padding-top: 30px;
    border-radius: 10px;

    position: relative;
}

.finestra > .button {
    width: 10px;

    aspect-ratio: 1/1;
    border-radius: 10px;

    position: absolute;
    top: 10px;
}

.finestra > .close {
    background-color: #ff605c;
    left: 10px;
}

.finestra > .minimize {
    background-color: #ffbd44;
    left: 25px;
}

.finestra > .maximize {
    background-color: #00ca4e;
    left: 40px;
}

.filename {
    height: 30px;
    padding: 10px;

    background-color: antiquewhite;
    color: black;
    border-radius: 10px;
}