* {
    margin: 0;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.finestra {
    width: 350px;
    height: 200px;

    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;

    background-color: #13101b;
    color: white;
    padding: 10px;
    border-radius: 10px;

    position: relative;
}

.finestra > p {
    height: 20px;

    font-family: monospace;
    font-size: 12px;
    font-weight: 400;
    color: rgb(197, 200, 198);
}

.finestra *::selection {
    background-color: #9e7bb5;
    color: antiquewhite;
}

.finestra b {
    font-family: inherit;
    font-weight: inherit;
}

.finestra > .tab {
    text-indent: 15px;
}

.finestra > .tabb {
    text-indent: 30px;
}

.finestra .keywords {
    color: rgb(129, 162, 190);
}

.finestra .names {
    color: rgb(240, 198, 116);
}

.finestra .strings {
    color: rgb(181, 189, 104);
}

.finestra > .button {
    width: 10px;

    aspect-ratio: 1/1;
    border-radius: 10px;

    position: absolute;
    top: 10px;
}

.finestra > .close {
    background-color: #ff605c;
    left: 10px;
}

.finestra > .minimize {
    background-color: #ffbd44;
    left: 25px;
}

.finestra > .maximize {
    background-color: #00ca4e;
    left: 40px;
}

.links {
    height: 50px;
    margin-top: -20px;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    background-color: rgba(120, 154, 130);
    border-radius: 15px;
    z-index: 4;
}

.links > a {
    width: 35px;
    height: 35px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: antiquewhite;
    text-decoration: none;
}

.links > a > i {
    font-size: 20px;
}